extends base/_layout
block head
    title Сервис центр по ремонту стиральных машин
block page
    include sections/main-section
    include sections/price-section
    include sections/calculate-section
    include sections/reviews-section
    include sections/team-section
    include sections/questions-section
    include sections/popup-section
